parameters:
    level: max
    paths:
        - src
    ignoreErrors:
        -
            message: "#^Parameter \\#1 \\$version1 of function version_compare expects string, mixed given\\.$#"
            count: 1
            path: src/InstallManager.php
        -
            message: "#^Parameter \\#1 $value of function intval expects array|bool|float|int|resource|string|null, mixed given\\.$#"
            count: 1
            path: src/InstallManager.php
        -
            message: "#^Method Pyncer\\\\Snyppet\\\\SnyppetManager::getSnyppets\\(\\) should return array<Pyncer\\\\Snyppet\\\\Snyppet> but returns array<int<0, max>, mixed>\\.$#"
            count: 1
            path: src/SnyppetManager.php
        -
            message: "#^Cannot call method getAlias\\(\\) on mixed\\.$#"
            count: 1
            path: src/SnyppetManager.php
